* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  max-width: 1551px;
  margin: auto;
}

/* common-designs */

/* common-margin */
.common-margin {
  max-width: 1320px;
  margin: auto;
}

/* common-button */
.common-button {
  background: #2563eb;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
}
.common-button:hover{
    background: white;
    border: 2px solid #2563eb;
    color: #2563eb;
}
.common-button-outline {
  display: block;
  width: 100%;
  background: white;
  border: 2px solid #2563eb;
  border-radius: 5px;
  color: #2563eb;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}
.common-button-outline:hover{
    background: #2563eb;
    border: none;
    outline: none;
    color: white;
}

/* common-price */
.common-price {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #575757;
}

/* navbar-section */

.nav-parent {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.logo,
.menu,
.nav-button {
  flex: 1;
}
.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}
.menu li a {
  color: #575757;
  font-size: 20px;
  padding: 10px 15px;
}
.menu li:hover a{
  background: #2563eb;
  color: white;
}
.nav-button {
  display: flex;
  justify-content: flex-end;
}

/* hero-section */

.hero-section {
  height: 786px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 220px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-section .text {
  text-align: center;
  font-weight: bold;
}
.hero-section .text h1 {
  margin-bottom: 15px;
  font-size: 100px;
}
.hero-section .text p{
    font-size: 25px;
}

/* meet-speaker-parent-section*/
.meet-speaker-section h1 {
  text-align: center;
  margin: 50px 0 30px 0;
}
.meet-speaker-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}
.meet-speaker-parent .child {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.meet-speaker-parent .child img {
  width: 100%;
}
.image-text {
  padding: 15px;
}
.image-text h6 {
  color: #2563eb;
}
.image-text p {
  color: #575757;
}

/* pricing-section */

/* pricing-section-heading */
.pricing-section-heading {
  text-align: center;
}
.pricing-section-heading p {
  color: #575757;
  margin: 10px 0;
}

/* pricing-card-parent */
.pricing-card-parent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 100px;
}

/* standard-card */
.pricing-card-parent .standard-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  color: rgba(0, 0, 0, 0.5);
}
.standard-price span {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.standard-card .standard-plan {
  padding-left: 20px;
  margin-bottom: 20px;
}
.standard-plan ul li {
  margin-bottom: 10px;
}
.standard-plan ul li::marker {
  color: #2563eb;
}

/* Pro-card */
.pricing-card-parent .pro-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  background: #0d1b2a;
  color: rgba(255, 255, 255, 0.8);
}
.pro-price h6 {
  color: #93c5fd;
}
.pro-price span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.pro-price p {
  color: rgba(255, 255, 255, 0.5);
}
.pro-card .pro-plan {
  padding-left: 20px;
  margin-bottom: 20px;
}
.pro-plan ul li {
  margin-bottom: 10px;
}
.pro-plan ul li::marker {
  color: #2563eb;
}
.pro-button {
  display: block;
  width: 100%;
}

/* team-card */
.pricing-card-parent .team-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  color: rgba(0, 0, 0, 0.5);
}
.team-price span {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.team-card .team-plan {
  padding-left: 20px;
  margin-bottom: 20px;
}
.team-plan ul li {
  margin-bottom: 10px;
}
.team-plan ul li::marker {
  color: #2563eb;
}
.pricing-card{
  transition: transform 0.3s;
}
.pricing-card:hover{
  transform: translateY(-10px);
}

/* past-highlights-section */
.past-highlights{
  background-color: #ffffff;
  /* text-align: center; */
  padding: 60px 0px;
}
.past-highlights h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}
.past-highlights p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
  text-align: center;
}
.highlights-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.highlight-item {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.highlight-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.highlight-item h3 {
  font-size: 24px;
  margin: 15px 0 10px;
  color: #222;
}
.highlight-item p {
  color: #555;
  font-size: 16px;
  text-align: left;
}
.highlight-item:hover {
  transform: translateY(-10px);
}

/* footer-section */

footer{
  background: #0d1b2a;
  padding: 40px;
}
.footer-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer-parent .social-links a{
  font-size: 30px;
  color: white;
  margin-left: 10px;
  transition: 0.4s;
}
.footer-parent .social-links a:hover{
  color: #2563eb;
}
footer .copyright{
  color: white;
  text-align: center;
  margin-top: 20px;
}